@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,600');

/*Base*/
html{
	font-family: Quicksand, sans-serif;
}
/*body{
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}*/

a{
	text-decoration: none;
	color: #333333;
}
strong{
	font-weight: 600;
}
form{
	margin-top: 15px;
}
input{
	outline: none;
	position: relative;
	width: 200px;
	margin-left: 15px;
	margin-bottom: 15px; 
	padding-left: 10px;
	font-family: Quicksand, sans-serif;
	font-size: .85em;
	height: 35px;
	border: none;
	background-color: #f2f2f2;
	border-bottom: 2px solid #33bbff;
	transition: 500ms;
}
input:hover{
	border-bottom: 2px solid #99ddff;
} 

input:focus{
	border-bottom: 2px solid #ff6666;
}
label{
	font-size: .7em;
	margin-left: 20px;
	color: #333333;
}



/*Sections*/
header{
	padding-top: 20px;
	background-color: #fff;
	height: 35px;
}

#nav{
	/*position: relative;*/
	float: right;
	padding-right: 30px;
}


#banner img{
	width: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#title{
	position: relative;
	top: -200px;
	width: 100%;
	font-size: 4.7em;
	font-weight: 300;
	color: #33bbff;
	text-align: center;
	background-color: rgba(255,255,255,.75);
}
#title strong{
	color: #006699;
}

#about{
	position: relative;
	top: -80px;  
	margin-top: 0px;
	padding-bottom: 70px;
	background: linear-gradient(to bottom, #38aed9 0%, #3893d9 100%);
}
#about h2{
	padding-top: 50px;
	color: #fff;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
}
#about p{
	padding-top: 20px;
	color: #fff;
	margin: auto;
	line-height: 150%;
	width: 70%;
	font-weight: 300;
	font-size: 1.1em;
}

#loginPrompt{
	display: none;
	position: absolute;
	right: 60px;
	top: 60px;
	width: 240px;
	height: 205px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.45);
	z-index: 5;
}
#registerPrompt{
	display: none;
	position: absolute;
	right: 15px;
	top: 60px;
	width: 240px;
	height: 365px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.45);
	z-index: 5;
}


/*Custom*/
.btn{
	color: #0099e6;
	border: 1px solid #0099e6;
	padding: 7px 12px 7px 12px;
	border-radius: 20px;
	font-size: .9em;
	margin-left: 5px;
	margin-right: 5px;
	transition: 500ms;
}
.btn:hover{
	color: #fff;
	background-color:#0099e6;
}
#browse{
	margin-right: 40px;
}



/*overide default*/
#submit{
	position: relative;
	top: 15px;
	margin-left: 20px;
}
#registerbtn{
	position: relative;
	top: 5px; 
	margin-left: 20px;
}
#loginError{
	display: none;
	position: relative;
	background-color: #ff6666;
	font-size: .8em;
	width: 90%;
	margin: auto;
	padding: 5px;
	border-radius: 4px;
	bottom: -35px;
}
#registerError{
	display: none;
	position: relative;
	background-color: #ff6666;
	font-size: .8em;
	width: 90%;
	margin: auto;
	padding: 5px;
	border-radius: 4px;
	bottom: -24px;
}
#logoSVG{
	position: absolute;
	top: 7px;
	left: 7px;
}
.video{
	margin: auto;
	width: 640px;
	margin-top: 25px;
	margin-bottom: 25px;
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.60);
}
footer{
	position: relative;
	bottom: 35px;
	text-align: center;
	font-size: .9em;
}
footer p{
	color: #4d4d4d;
	margin-bottom: 10px;
}
.footerLink{
	color: #333333;
	text-decoration: underline;
	transition: .5s;
}
.footerLink:hover{
	color:#ff6666
}