body{
	background-color: #f2f2f2;
}

header{
	border-bottom: 1px solid #d9d9d9;
}
input{
	margin-top: 15px; 
	margin-bottom: 0px; 
}

aside{
	position: absolute;
	float: left;
	margin-right: 20px;
	width: 150px;
	top: 55px;
	height: 100%;
	border-right: 1px solid #d9d9d9;
	padding: 10px;
}
select{
	width: 175px;
}

#viewerTitle, #viewerTitlePublic{
	margin-left: 185px;
	margin-top: 20px;
}
#viewerTitlePublic{
	margin-left: 20px;
}
#viewerTitle H2, #viewerTitlePublic H2{
	font-size: 1.5em;
	font-weight: 600;
}
#viewer, #viewerPublic{
	margin-left: 185px;
	margin-right: 20px;
	min-width: 770px;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	background-color: #333333;
	border-radius: 4px;
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.45);
	font-size: .9em;
}
#viewerPublic{
	margin-left: 20px;
}


#newProject{
	position: relative;
	display: inline;
	margin-left: 3px;
	border-radius: 0px 20px 20px 0px;
}
#nameInput{
	display: inline;
	background-color: #fff;
	height: 30px;
	width: 150px;
	top: -1px;
	border-radius: 5px 0px 0px 3px;
}
#nameError{
	display:none;
	background-color: #ff6666;
	width: 220px;
	padding: 5px;
	margin-left: 20px;
	border-radius: 5px;
	font-size: .8em;
	transition: 1s;
}

#existingProjects{
	margin-top: 40px;
	margin-left: 20px;
}
.projectCard{
	display: inline-block;
	padding: 10px;
	margin: 25px;
	background-color: #fff;
	width: 250px;
	height: 100px;
	border-radius: 10px;
	box-shadow: 0px 0px 65px 0px rgba(0,0,0,0.35);
	background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
	transition: all .3s; 
}
.projectCard:hover{
	top: 20px;
	height: 110px;
	background: linear-gradient(to bottom, #ffaf4b 0%, #ff920a 100%);
	box-shadow: 0px 0px 65px 0px rgba(235,183,50,0.55);
}
.projectCard h2{
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	margin-bottom: 5px;
}
.projectCard p{
	font-size: .8em;
}
.btnDelete{
	position: relative;
	top: -23px;
	float: right;
	background-color: #f2f2f2;
	padding: 3px;
	padding-bottom: 0px;
	border-radius: 4px;
	transition: all .5s;
}
.btnDelete:hover{
	background-color: #ff4d4d;
}


/* SIDEBAR CATEGORIES*/
.addImage{
	position: relative;
	 top: 2px; 
}
.asideCategory{
	margin-top: 20px;
	margin-bottom: 15px;
	padding-top: 0px;
	padding-bottom: 5px;
	color: #fff;
	border-radius: 4px;
}
.asideCategory H2{
	font-weight: 400;
	font-size: 1em;
	margin-bottom: 5px;
	padding: 5px;
	text-align: center;
	border-radius: 4px 4px 0px 0px;
}
.type{
	padding: 5px;
	font-size: .9em;
	width: 80%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding-left: 15px;
	transition: .35s;
}
aside .type:hover{
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.35);
	color: #ffff00;
}
.asideCategory a{
	color: #fff;
}

#declareSection{
	background-color: #0099e6;
}
#declareSection h2{
	background-color: #0088cc;
}
#declareSection .type{
	background-color: #00aaff;
}

#arithmaticSection{
	background-color: #00b36b;
}
#arithmaticSection h2{
	background-color: #00995c;
}
#arithmaticSection .type{
	background-color: #00cc7a;
}

#loopSection{
	background-color: #ff8566;
}
#loopSection h2{
	background-color: #ff704d;
}
#loopSection .type{
	background-color: #ff9980;
}

#ioSection{
	background-color: #669999;
}
#ioSection h2{
	background-color: #5c8a8a;
}
#ioSection .type{
	background-color: #75a3a3;
}

#otherSection{
	background-color: #7575a3;
}
#otherSection h2{
	background-color: #666699;
}
#otherSection .type{
	background-color: #8585ad;
}

#projectTitle{
	font-weight: 400;
}


/* SELECT VIEWER */
#selectViewer{
	position: relative;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 40px;
}
#editSelect, #textSelect{
	padding: 7px;
	font-size: .8em;
}
#editSelect{
	border-radius: 15px 2px 2px 15px;
	margin-right: 0px;
}
#textSelect{
	border-radius: 2px 15px 15px 2px;
	margin-left: 0px;
}
.notActive{
	outline: none;
	border:none;
	background-color: #dfdfdf;
}
.notActive:hover{
	color: #ffffff;
	background-color: #cccccc;
}
.active{
	outline: none;
	background: linear-gradient(#72b6f9,#3999f9);
	color: #ffffff;
	border:none;
}
#selectViewer a.active{
	color: #fff;
}
#selectViewer a.notActive:hover{
	color: #fff;
}

.languageSelect{
	position: relative;
	left: -50px;
	margin-top: 30px;
}
.languageSelect a{
	font-size: .75em;
	 margin-right: 1px;
	margin-left: 1px; 
	padding: 5px;
	padding-left: 8px;
	padding-right: 8px;

}
#plainText{
	border-radius: 7px 0px 0px 7px;
}
#python{
	border-radius: 0px 7px 7px 0px;
}
.publicSelection{
	margin-top: 5px;
	width: 70px;
}

/* ENTRY STYLES */
#viewer pre, #viewerPublic pre{
	font-size: 1.1em;
	margin-top: 5px;
	margin-bottom: 5px;
}
#viewer input, #viewerPublic input{
	outline: none;
	position: relative;
	width: 100px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
	padding-left: 10px;
	font-family: Quicksand, sans-serif;
	font-size: .85em;
	height: 25px;
	border: none;
	background-color:rgba(192,192,192,0.25);
	border-bottom: 2px solid #33bbff;
	transition: 500ms;
	font-weight: 600;
	font-size: .95em;
}
#viewer input:hover, #viewerPublic input:hover{
	border-bottom: 2px solid #99ddff;
} 

#viewer input:focus, #viewerPublic input:focus{
	border-bottom: 2px solid #ff6666;
}
.declare, .arithmatic, .io, .other, .loop{
	color: #333333;
	padding: 5px;
	padding-top: 0px;
	padding-left: 10px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #d1d1d1 100%);
	border-left: 15px solid #0099e6;
}
.arithmatic{
	border-left: 15px solid #00b36b;
}
.loop{
	border-left: 15px solid #ff8566;
	margin-top: 50px;
}
.io{
	border-left: 15px solid #669999;
}
.other{
	border-left: 15px solid #7575a3;
}
.btnDeleteEntry{
	position: relative;
	top: 9px;
	float: right;
	padding: 3px;
	padding-bottom: 0px;
	border-radius: 4px;
	transition: all .5s;
}
.btnDeleteEntry:hover{
	background-color: #ff4d4d;
}
.arrowSelection{
	position: relative;
	float: right;
	top: 12px;
	margin-right: 12px;
	padding-right: 15px;
	border-right: 1px solid #999999;
}
.indentSelection{
	font-size: .95em;
	position: relative;
	display: inline;
	margin-right: 0px;
	padding-left: 5px;
	 /* border-left: 1px solid #999999;   */
}
.arrowSelection a, .indentSelection a{
	transition: .5s;
}
.arrowSelection a:hover, .indentSelection a:hover{
	color: #ff4d4d;
}
.indent0{
	transition: .3s;
}
.indent1{
	margin-left:30px;
	transition: .3s;
}
.indent2{
	margin-left:60px;
	transition: .3s;
}
.indent3{
	margin-left:90px;
	transition: .3s;
}
.jsComments, .pythonComments{
	color: #b3b3b3;
}
